.Search {
    &-Header{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #000000;

        text-decoration: none;
    }

    &-Content{
        &-Text{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 39px;
            /* identical to box height, or 194% */

            text-align: center;
            color: #000000;
        }
    }
}
.Locations {
    background: #DDE0E3;
    border-radius: 13px;
    margin-bottom: 20px;
    &-Header{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 40px;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #42629E;

        width: 500px;
        height: auto;

        
        &-Arrow{
            transform: rotate(180deg);
        }
    }
    &-Content{
        border-radius: 13px;
        background: #DDE0E3;
    }
}

.form {
    &-control {
        border-radius: 13px;
        background-color: #DDE0E3;
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 40px;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #42629E;

        width: 500px;
        height: auto;
    }
    &-option {
        border-radius: 13px;
        background-color: #DDE0E3;
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 40px;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #42629E;

        width: 500px;
        height: auto;
    }
}