.landing{
    display: flex;
    flex-direction: column;

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(29, 45, 68, 0.8), rgba(29, 45, 68, 0.8)), url('../../../data/city.jpg');
}

.title{
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 119px;
    line-height: 154px;
    /* identical to box height, or 129% */

    letter-spacing: -0.015em;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button-style{
    width: 8.375rem;
    height: 3.125rem;
    background: #DDE0E3;
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.3);
    border-radius: 13px;
}

.button-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 142% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #1D2D44;
}