.Menu{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-Search{
        background: white;
        border-radius: .8125rem;
        width: 70vw;
        min-width: fit-content;
        margin-left: 15vw;
        margin-right: 15vw;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #000000;

        text-decoration: none;
    }

    &-Buttons{
        display: flex;
        justify-content: center;

        &-Style{
            background: none;
            display: flex;
            width: 40vw;
            justify-content: center;
            align-items: center;

            &-Img{
                height: 5vh;
            }

            &-Text{
                position: relative;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 39px;
                /* identical to box height, or 162% */
    
                text-align: center;
    
                color: #ffffff;
            }
            &-Text:hover{    
                color: #1D2D44
            }
        }
    }
}

.Back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    pointer-events: none !important;
    background: linear-gradient(180deg, rgba(29, 45, 68, 0) 50%, #1D2D44 92.6%);
}

#Back{
    pointer-events: none !important;
}

.Map{
    pointer-events: all !important;
}

#logout-container {
    position: absolute;
    z-index: 3;
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn{
    &-warning{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 23px;
        /* identical to box height, or 142% */

        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;

        color: #1D2D44;

        background: #FFC868;
        box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.3);
        border-radius: 13px;
    }
}